@import 'tailwindcss';

@theme {
  --font-helvetica: "Helvetica", system-ui, sans-serif;
  /* Heroship Color Palette */
  --color-primary: #3D1F94;
  /* Deep Indigo – bold and creative */
  --color-secondary: #F9A826;
  /* Warm Amber – energetic and inviting */
  --color-accent: #00C2A8;
  /* Aqua Mint – fresh and modern */
  --color-muted: #E5E7EB;
  /* Soft Gray – clean background */
  --color-dark: #1F2937;
  /* Charcoal – for text and contrast */
}

@theme {
  --animate-navBar: navBar 0.3s ease-out 0s 1;

  @keyframes navBar {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.rotate-logo{
  animation: rotate 1s ease-in-out 0s 1
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

@layer base {
  body {
    min-height: 100vh;
    @apply bg-blue-50 antialiased;
    color: var(--color-dark);
    font-family: var(--font-helvetica);
  }
}

@utility b-primary {
  border-color: var(--color-primary);
}

@utility b-secondary {
  border-color: var(--color-secondary);
}

@utility b-accent {
  border-color: var(--color-accent);
}

@utility b-muted {
  border-color: var(--color-muted);
}

@utility b-dark {
  border-color: var(--color-dark);
}

@utility text-primary {
  color: var(--color-primary);
}

@utility bg-primary {
  background-color: var(--color-primary);
}

@utility text-secondary {
  color: var(--color-secondary);
}

@utility bg-secondary {
  background-color: var(--color-secondary);
}

/* Hide scrollbar while maintaining scroll functionality */
@layer utilities {
  .no-scrollbar {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
  }
}