@import 'tailwindcss';

@theme {
  --font-helvetica: "Helvetica", system-ui, sans-serif;

  /* Heroship Color Palette */
  --color-primary: #3D1F94;
  /* Deep Indigo – bold and creative */
  --color-secondary: #F9A826;
  /* Warm Amber – energetic and inviting */
  --color-accent: #00C2A8;
  /* Aqua Mint – fresh and modern */
  --color-muted: #E5E7EB;
  /* Soft Gray – clean background */
  --color-dark: #1F2937;
  /* Charcoal – for text and contrast */
}

button {
  cursor: pointer;
}

@theme {
  --animate-navBar: navBar 0.3s ease-out 0s 1;

  @keyframes navBar {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

/* @theme {
  --animate-asideBar: asideBar 0.5s ease-in-out 0s 1;
  @keyframes asideBar {
    0% {
      transform: translateX(-100px);
    }
    100% {
      transform: translateX(0px);
    }
  }
} */

body {
  min-height: 100vh;
  background-color: white;
  color: var(--color-dark);
  font-family: var(--font-helvetica);
}

@utility b-primary {
  border-color: var(--color-primary);
}

@utility b-secondary {
  border-color: var(--color-secondary);
}

@utility b-accent {
  border-color: var(--color-accent);
}

@utility b-muted {
  border-color: var(--color-muted);
}

@utility b-dark {
  border-color: var(--color-dark);
}

@utility text-primary {
  color: var(--color-primary);
}

@utility bg-primary {
  background-color: var(--color-primary);
}

@utility text-secondary {
  color: var(--color-secondary);
}

@utility bg-secondary {
  background-color: var(--color-secondary);
}